<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
<link rel="apple-touch-icon" sizes="180x180" href="https://tunnelvisionbug.com/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://tunnelvisionbug.com/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://tunnelvisionbug.com/assets/favicon-16x16.png">
<link rel="manifest" href="https://tunnelvisionbug.com/assets/site.webmanifest">
<meta property="og:title" content="TunnelVision">
<meta property="og:image" content="https://tunnelvisionbug.com/assets/TunnelVision_cn.jpg">
<meta property="og:description" content="CVE-2024-3661 - A local network VPN leaking technique that affects all routing-based VPNs">
<meta property="og:url" content="https://tunnelvisionbug.com">
<meta name="twitter:card" content="summary_large_image">
<!-- end custom head snippets -->
